* {
  box-sizing: border-box;
}

body {
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  padding-left: 0px;
}

a {
 color: rgb(51, 29, 90);
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('../img/background.jpg');
  background-size: 1920px 1500px;
  background-repeat: no-repeat;
  border-top: solid 1em rgb(36, 5, 38);
  border-bottom: solid 1em black;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
  color: white;
}

.masthead-heading {
  margin-top: -0.2em; 
  color: white;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase; 
  text-shadow: 1px 1px 1px #000; 
}

.header-photo {
  margin-left: auto;
  margin-right: auto;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  
}

.introduction-section > p,
.location-section > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

p {
  text-align: center;
}

.social > li {
  display: inline-block;
}
.content-footer > p {
  color: black;
 
}

.social > li {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer {
        font-size: 40%;
    }
}

